.App {
  background-color: #373e98;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1.5vmin);
  color: #fee36e;
}
a{
  text-decoration: none;
  color: #fee36e
}


